.h-center {
  display: flex;
  justify-content: center;
}

.sprite-card {
  background-color: whitesmoke;
  width: 35rem;
  min-height: 25rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3rem 100%, 0% calc(100% - 3rem));
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3rem 100%, 0% calc(100% - 3rem));
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
}

.crimson-background {
  background-color: crimson;
}

.shiny-background {
  background-color: goldenrod;
}

.small-circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 1rem;
}

.sprite-box {
  /* background-color: lightslategray; */
  background-image: url("pastel.jpg");
  background-size: 110%;
  transform: scaleX(-1) scaleY(-1);
  border: .175rem;
  border-style: solid;
  border-color: black;
  border-radius: .5rem;
  /* margin-bottom: 1rem; */
  padding: 1.5rem;
}

.sprite {
  max-width: 18rem;
  transform: scaleX(-1) scaleY(-1);
}

.sprite-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-circle {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin: 1rem;
}

.sprite-caption {
  display: flex;
  justify-content: right;
  /* padding-bottom: 1.2rem; */
}

.column {
  display: flex;
  flex-direction: column; 
}

.details-card {
  width: 25rem;
  min-height: 13rem;
  background-color: #7b7c81;
  padding: 2.5rem;
  border-radius: 1rem;
  border-color: black;
  border-style: inset;
  border-width: .1rem;
}

.description-card {
  width: 25rem;
  min-height: 14.2rem;
  height: 14.2rem;
  justify-content: space-between;
  margin-top: 1.5rem;
  border-color: black;
  border-style: inset;
  border-width: .1rem;
  /* background-color: #192734; */
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.description-text {
  min-height: 3rem;
}

.description-btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}